@page "/"

<h1>Ема вот ета сайт!</h1>

<p>Браток ништяк</p>


<div>
    <button class="btn btn-dark" @onclick="Show"> Покажи лягушку!</button>
</div>
<div>
    <img src="@pepe" />
</div>
<div>
    <img src="@pepe1" />
</div>

@code{

    string pepe = "";
    string pepe1 = "";

    void Show()
    {
        pepe = "~/images/pepe.jpg";
        pepe1 = "~/images/pepe1.png";
    }
}