@page "/movie/{id:int}"
@inject IMovieService _movieService
@inject NavigationManager _navigation


<div class="top-row">
    <button class="btn btn-link sticky-top float-right" @onclick="ToMovies">Back</button>
    <br />
</div>

<content class="container-fluid">
    @if (movie == null)
    {
        <div>
            <span>Movie is loading...</span>
        </div>
    }
    else
    {
        <h1>@movie.Title</h1>
        <h3>Даа, это прекрасный фильм!</h3>
        <p>
            <i>Если ты любишь фильмы жанра "@movie.Genre.Name.ToString()" - то тебе понравится!</i>
        </p>
        <p></p>
    }
</content>




@code {
       [Parameter]
       public int Id { get; set; }

        WowWeb.Shared.Movie movie = null;
        protected async override Task OnInitializedAsync()
        {
            movie = await _movieService.GetMovie(Id);
        }

        void ToMovies()
        {
            _navigation.NavigateTo("/movies");
        }

        }
