@page "/movies"
@inject IMovieService _movieService
@inject IGenreService _genreService
@inject NavigationManager _navigation
@implements IDisposable

<h1>Movies!</h1>
<h3>Wow such a movie</h3>
<p>Тут чтото по-русски написано</p>


@if (_movieService.Movies.Count == 0)
{
    <span>Loading...</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Жанр</th>
                <th>Рейтинг</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in _movieService.Movies)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Description</td>
                    <td>@movie.Genre.Name.ToString()</td>
                    <td>@movie.Rating</td>
                    <td>
                        <button class="btn btn-link" @onclick="() => ToMovie(movie.Id)">Открыть</button>
                        <br />
                        <button class="btn btn-info" @onclick="() => EditMovie(movie.Id)">Изменить</button>
                        <br />
                        <button class="btn btn-danger" @onclick="() => DeleteMovie(movie.Id)">Удалить</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

<EditMovie Movie="MovieToEdit"></EditMovie>


@code {

    WowWeb.Shared.Movie MovieToEdit = new();

    protected override async Task OnInitializedAsync()
    {
        await _movieService.GetMovies();
        _movieService.OnMoviesChange += StateHasChanged;
    }
    void ToMovie(int id)
    {
        _navigation.NavigateTo($"/movie/{id}");
    }
    void EditMovie(int id)
    {
        MovieToEdit = _movieService.Movies.First(m => m.Id == id);
    }

    void DeleteMovie(int id)
    {
        _movieService.DeleteMovie(id);
    }
    public void Dispose()
    {
        _movieService.OnMoviesChange -= StateHasChanged;
    }
}
